@import url('https://fonts.googleapis.com/css?family=Rubik');

.App {
  font-family: 'Rubik', sans-serif;
}

.Header{
  background-color:#252525;
  padding: 15px;
  margin: 0 auto;
  color : #ffffff;
  flex-direction: row;
}

.Address{
  text-decoration: underline;
}

.HeaderTitle{
  width: 100%;
  text-align: left;
}

.HeaderButtons{
  width: 80%;
}

.buttonFace{
  background-color: #eee;
  font-weight: 100;
  padding: 5px;
}

button{
  margin: 5px;
  background-color: #eee;
  color : #252525;
  font-weight: 100;
  border: none;
  border-radius: 2px;
  padding: 5px;
  font-size: 10px;
}

a{
  color : #252525
}
.messgae{
  color: rgba(18, 138, 218, 0.972);
  text-decoration: underline;
}

.winner-message{
  color : #20e24a;
  text-decoration: underline;
}
li{
  margin:5px;
}